html,
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  height: 100%;
  overflow: hidden;
}

#wrapper {
  background-color: RGB(235, 2, 90);
  height: 100vh;
  width: 100vw;
}

#titleContainer {
  /* background-color: Purple; */
  height: 20%;
  width: 100%;
  min-height: 150px;
  display: flex;
  flex-direction: column;
}

#title {
  margin-left: 30px;
  margin-top: 0px;
  font-family: "Roboto", sans-serif;
  font-size: 100px;
  color: white;
  letter-spacing: 5px;
}

#subtitle {
  text-align: center;
  font-size: 25px;
  font-family: "Rubik", sans-serif;
  letter-spacing: 5px;
  /* background-color: yellow; */
  height: 30px;
  color: white;
}

#title2 {
  margin-left: 30px;
  margin-top: 0px;
  font-family: "Roboto", sans-serif;
  font-size: 100px;
  color: RGB(235, 2, 90);
  letter-spacing: 5px;
}

#subtitle2 {
  text-align: center;
  font-size: 25px;
  font-family: "Rubik", sans-serif;
  letter-spacing: 5px;
  /* background-color: yellow; */
  height: 30px;
  color: RGB(235, 2, 90);
}

#wrapper2 {
  background-color: white;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

#EndCallScrollUp {
  /* transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg); */
  font-family: "Rubik", sans-serif;
  margin-top: 150px;
  width: 150px;
  height: 50px;
  background-color: RGB(235, 2, 90);
  color: white;
  /* position: relative; */
}

#computerContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 600px;
  height: 200px;
  /* background-color: blue; */
  margin-top: 40px;
  padding-bottom: 10px;
  border-bottom: 3px solid white;
}

.electronUser {
  display: flex;
  flex-direction: column;
  width: 175px;
  height: 200px;
  font-size: 10px;
  margin-left: 10px;
  background-color: black;
  align-items: center;
  border: none;
  border-radius: 5px;
  -webkit-transition: background-color 1s;
}

.electronUser:hover {
  background-color: RGB(255, 129, 133);
}

img {
  margin-top: 40%;
  pointer-events: none;
  width: 130px;
  height: 80px;
}

.ComputerUsername {
  margin-top: 10px;
  padding-top: 10px;
  letter-spacing: 1px;
  padding-bottom: 10px;
  pointer-events: none;
  text-decoration: none;
  font-size: 16px;
  /* letter-spacing: 2px; */
  height: 20px;
  background-color: black;
  color: white;
  width: 110%;
}

a {
  text-decoration: none;
}

#textOnline {
  width: 100%;
  margin-top: 70px;
  text-align: center;
  padding-top: 10px;
  letter-spacing: 1px;
  font-size: 16px;
  color: white;
  font-family: "Rubik", sans-serif;
}

#othervideo {
  display: block;
  margin: -270px auto;
  width: 650px;
  height: 650px;
  cursor: zoom-in;
}

video::-webkit-media-controls {
  display: none !important;
}
